.composition {
  position: relative;

  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
  }

  &__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: 0.4);
    border-radius: 2px;
    transition: all 0.3s;
    z-index: 0;

    &:hover {
      transform: translateY(-2rem) scale(1.05);
      box-shadow: 0 2rem 4rem rgba($color: black, $alpha: 0.5);
      z-index: 1;
    }

    &--p1 {
      top: -2rem;
      left: 0;
    }

    &--p2 {
      top: 2rem;
      right: 0;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }
  }
}
