.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;

  backface-visibility: hidden; /* The back face of an element is a mirror image of the front face being displayed. */

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 4.2rem;
    animation: moveInLeft 1s ease-in;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveInTop 1s ease-in;
    margin-bottom: 4rem;
  }
}
