.center-text {
  text-align: center;
}

.margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 4rem;
  }
}

.margin-bottom-medium {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}

.margin-bottom-small {
  margin-bottom: 1.2rem;
}
